@charset "UTF-8";
/* CSS Document */
.navicon a{
	font-size:24px;
	color:fff;
	margin-top:1em;
	margin-left:1em;
	clear:right;
	float:left;

	}
.navicon a:hover{
	color:#000000;
	}

header {
	margin: -.55em;
	background-color: #000000;
	}
header img {
	width:40%;

	}
/*Search Bar*/
.search {
	float:right;
	margin-top:1em;
	margin-right:1em;
	}

.search input {
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	border-style:none;
	border-radius: 1.5em;
	padding:1em;
	background-position:right;
	margin-top:.1em;

	}
	
/*fonts*/

@font-face {
    font-family: snake;
    src: url(Snake.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Amatic Bold;
    src: url(Amatic-Bold.ttf);
}
@font-face {
    font-family: Amatic;
    src: url(AmaticSC-Regular.ttf);
}
@font-face {
    font-family: Lato light;
    src: url(Lato-Light.ttf);
}
@font-face {
    font-family: Lato bold;
    src: url(Lato-Bold.ttf);
}
@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}
.shape {
	padding-left: 2em;
	margin-bottom:-1.3em;
	}
#logo-nav ul a li {
	color:#ddd;
	}
#logo-nav  a:hover li {
	color:#F00;
}
#logo-nav {
	clear:right;
	float:left;
	}
/*Navigation*/
ul {
	width:70%;
	padding:2em;
	background-color:#000;
	}	
li {
	font-family:snake;
	font-size: 1.75em;
	line-height:1.25em;
	letter-spacing:.15em;
	text-align:center;
	list-style:none;
	color:#FFFFFF;
	}
a {
	color:#CCC;
	text-decoration:none;
	}
.social{
	text-align:center;
	}
.social img{
	width:15%;
	}

body {
	background-image: url(images/tree.jpg);
	width:100%;
}

/*main video, petition, update*/
#petition {
	font-family:Amatic Bold;
	letter-spacing:.1em;
	margin-top:5em;
	padding-left:30%;
	width:60%;
	background-color: transparent;
	color:#FFFFFF;
}
#petition h2 {
	background-color:#F00;
	padding:1em;
	}
#petition-sign a:hover{
	color:#000000;
	}
#petition-sign {
	font-family: Lato light;
	text-transform:uppercase;
	background-color:#000000;
	padding:1em;
	text-align:center;
	margin-bottom:5em;

	}
/*Sign up form newsletter*/
#signup {
	margin:auto;
	padding:.25em;

	}
#signup #email {
	border-style:none;
	width:50%;
	padding: .5em;
	margin-left:1em;
	}
#signup #submit-button {
	margin:auto;
	color: #FFF;
	background-color: #000;
	border-style:solid;
	border-color:#FFF;
	padding: .5em;
	text-transform:uppercase;
	letter-spacing:.2em;
	width:35%;
	}
#signup h2 {
	font-family:Amatic;
	text-transform:uppercase;
	font-size:32px;
	color: #F00;
	text-align:center;
	letter-spacing:.2em;

	}
/*video*/
#petition #video iframe {
	margin-bottom:-5.5em;
	padding-bottom:0;
	
	}
#video h3{
	color:#FF0000;
	background-color:#000000;
	padding:1em;
	}
/*black box, update, news section*/
#updates{
	background-color:#000000;
	padding:.25em;
	text-align:center;
}
	
/*responsive*/
/*Desktop and laptop*/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
/*phones*/

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  
.navicon{
	margin-bottom:0em;
	clear:right;

	}
.navicon a{
	font-size:24px;
	color:fff;
	margin-top:1.5em;
	margin-left:0;
	float:left;

	}
.navicon a:hover{
	color:#000000;
	}
header {
	margin: -.55em;
	background-color: #000000;
	padding: 3%;
	}
header img {
	clear: left;
	text-align: center;
	width: 70%;
	}
 #logo-nav {
	 padding-left:15%;

 }
 #petition {
	 clear: both;
	 padding-left:10%;
	 width:80%;
	 
	}
.search {
	float:right;
	margin-top:2em;
	margin-right:1em;
	}

.search input {
	float:right;
	font-size:9px;
	background-image:url(images/search.png);
	background-size: 2.5em;
	background-repeat:no-repeat;
	border-style:none;
	border-radius: 1.5em;
	padding:.8em;
	background-position:right;
	width:80%;

	}
.shape {
	padding-left: 25%;
	margin-bottom:-1.3em;
	}
#logo-nav ul a li {
	color:#ddd;
	}
#logo-nav  a:hover li {
	color:#F00;
}
#logo-nav {
	clear:right;
	float: none;
	}
/*Navigation*/
ul {
	width:70%;
	padding:2em;
	background-color:#000;
	}	
li {
	font-family:snake;
	font-size: 1.75em;
	line-height:1.25em;
	letter-spacing:.15em;
	text-align:center;
	list-style:none;
	color:#FFFFFF;
	}
a {
	color:#CCC;
	text-decoration:none;
	}
#signup {
	margin:auto;
	padding-left:2em;

	}
#signup #email {
	border-style:none;
	width:50%;
	font-size:18px;
	padding: 1em;
	margin-left:1em;
	}
#signup #submit-button {
	color: #FFF;
	background-color: #000;
	border-style:solid;
	border-color:#FFF;
	padding:1em;
	text-transform:uppercase;
	font-size:18px;
	letter-spacing:.2em;
	width:35%;
	}
#signup h2 {
	font-family:Amatic;
	text-transform:uppercase;
	font-size:32px;
	color: #F00;
	text-align:center;
	letter-spacing:.2em;

	}
body {
	background-image: url(images/tree.jpg);
	background-position: top;
	background-repeat: repeat-y;
	width:100%;
	height:auto;
}
#petition #video iframe {
	margin-bottom:-5.5em;
	padding-bottom:0;
	
	}
#video h3 {
	margin:auto;
	text-align: center;
	color:#FF0000;
	background-color:#000000;
	padding:1em;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 #petition {
	 clear: right;
	 padding-left:10%;
	 width:80%;
}
#logo-nav {
	margin:auto;
	padding-left: 30%;
}
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 #petition {
	 clear: right;
	 padding-left:10%;
	 width:80%;
}
#logo-nav {
	margin:auto;
	padding-left: 30%;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  #logo-nav {
	margin:auto;
	padding-left: 18%;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 #petition {
	 clear: right;
	 padding-left:10%;
	 width:80%;
}
#logo-nav {
	margin:auto;

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
 #petition {
	 clear: right;
	 padding-left:10%;
	 width:80%;
}
#logo-nav {
	margin:auto;

}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
